.primeDispo {
  animation: clignoter 3s infinite alternate;
}

@keyframes clignoter {
  0% {
    background-color: #9147ff;
    color: white;
  }
  50% {
    background-color: white;
    color: #9147ff;
  }
  100% {
    background-color: #9147ff;
    color: white;
  }
}